___
<img style="float: right; margin: 15px 15px 15px 15px;" src="https://cdn.brandfetch.io/idjblR01Uf/w/400/h/400/theme/dark/icon.jpeg?c=1dxbfHSJFAPEGdCLU4o5B" width="200px" height="180px" />

# <font color= #5aafc1> **PROYECTO FINAL** </font>
#### <font color= #2E9AFE> `Red Aeroportuaria Internacional`</font>
- <Strong> Sofía Maldonado, Viviana Toledo, César Adrián Santos </Strong>
- <Strong> Fecha </Strong>: 17/07/2025

___

In [51]:
# Actualizar 
import importlib
import queries 
importlib.reload(queries)
from queries import DB_Queries

# Establecer conexión
db = DB_Queries('neo5j')

Successfully Connected to Neo4j in neo5j database!
Successfully Connected to GraphDataScience in neo5j database!

# <font color= #5aafc1> **1. Exploratory Data Analysis** </font>

Graph Schema:

Node Count:

In [48]:
db.count_nodes('Airport')

[{'Airports': 3214}]

Node Attributes:

In [49]:
db.node_attributes()

     nodeType nodeLabels propertyName propertyTypes  mandatory
0  :`Airport`  [Airport]           Id        [Long]       True
1  :`Airport`  [Airport]     latitude      [Double]       True
2  :`Airport`  [Airport]      country      [String]       True
3  :`Airport`  [Airport]    longitude      [Double]       True
4  :`Airport`  [Airport]        Label      [String]       True

Relationship Count:

In [50]:
db.count_relationships('TO')

[{'TO_Count': 36907}]

Relationship Attributes:

In [52]:
db.rel_attributes()

  relType propertyName propertyTypes  mandatory
0   :`TO`     distance      [Double]       True