___
<img style="float: right; margin: 15px 15px 15px 15px;" src="https://cdn.brandfetch.io/idjblR01Uf/w/400/h/400/theme/dark/icon.jpeg?c=1dxbfHSJFAPEGdCLU4o5B" width="200px" height="180px" />

# <font color= #5aafc1> **PROYECTO FINAL** </font>
#### <font color= #2E9AFE> `Red Aeroportuaria Internacional`</font>
- <Strong> Sofía Maldonado, Viviana Toledo, César Adrián Santos </Strong>
- <Strong> Fecha </Strong>: 17/07/2025

___

In [63]:
# Actualizar 
import importlib
import queries 
importlib.reload(queries)
from queries import DB_Queries

# Establecer conexión
db = DB_Queries('neo5j')

Successfully Connected to Neo4j in neo5j database!
Successfully Connected to GraphDataScience in neo5j database!

Añadir atributos de Continente a cada nodo:

In [75]:
query1 = """MATCH (a:Airport) 
WHERE a.country = 'Burma'
SET a.country = 'Myanmar'
"""

query2 = """MATCH (a:Airport) 
WHERE a.country = 'Congo (Kinshasa)'
SET a.country = 'Democratic Republic of the Congo'
"""

query3 = """MATCH (a:Airport) 
WHERE a.country = 'Congo (Brazzaville)'
SET a.country = 'Republic of the Congo'
"""

query4 = f"""LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/ch0fas/MG_PROYECTO2/main/data/countries.csv' AS row
MATCH (a:Airport)
WHERE a.country = row.Country
SET a.continent = row.Continent
"""

db.custom_query(query4)

# <font color= #5aafc1> **1. Exploratory Data Analysis** </font>

Graph Schema:

Node Count:

In [43]:
db.count_nodes('Airport')

   Airports
0      3214

Node Attributes:

In [58]:
db.node_attributes()

     nodeType nodeLabels propertyName propertyTypes  mandatory
0  :`Airport`  [Airport]           Id        [Long]       True
1  :`Airport`  [Airport]     latitude      [Double]       True
2  :`Airport`  [Airport]      country      [String]       True
3  :`Airport`  [Airport]    longitude      [Double]       True
4  :`Airport`  [Airport]        Label      [String]       True
5  :`Airport`  [Airport]    continent      [String]      False

Relationship Count:

In [45]:
db.count_relationships('TO')

   TO_Count
0     36907

Relationship Attributes:

In [46]:
db.rel_attributes()

                     relType propertyName  propertyTypes  mandatory
0                      :`TO`     distance       [Double]       True
1    :`PATH_Bogota_Directed`    totalCost       [Double]       True
2    :`PATH_Bogota_Directed`      nodeIds    [LongArray]       True
3    :`PATH_Bogota_Directed`        costs  [DoubleArray]       True
4  :`PATH_Bogota_Undirected`    totalCost       [Double]       True
5  :`PATH_Bogota_Undirected`      nodeIds    [LongArray]       True
6  :`PATH_Bogota_Undirected`        costs  [DoubleArray]       True

# <font color= #5aafc1> **2. Centrality & Community Algorithms** </font>

In [47]:
db.create_subgraph('Airport', 'TO', 'NATURAL','distance')

'Subgraph Directed_Airport already exists. Creation skipped.'

In [48]:
db.create_subgraph('Airport', 'TO', 'UNDIRECTED','distance')

'Subgraph Undirected_Airport already exists. Creation skipped.'

# <font color= #5aafc1> **3. Path Finding Algorithms** </font>

In [49]:
db.delta_pathing('Airport', 'Label', 'Bogota', 'distance')

Directed Delta Pathing for Bogota added!

,Source,Bridges,Partial_Costs,Total_Cost,Target
0,Bogota,"[Goroka, Port Moresby, Goroka, Port Moresby, G...","[0.0, 755.8972047746067, 5606.6853979173375, 1...",18326.702070,Goroka
1,Bogota,"[Madang, Port Moresby, Madang, Port Moresby, M...","[0.0, 755.8972047746067, 5606.6853979173375, 1...",18398.968325,Madang
2,Bogota,"[Mount Hagen, Port Moresby, Mount Hagen, Port ...","[0.0, 755.8972047746067, 5606.6853979173375, 1...",18417.507717,Mount Hagen

Undirected Delta Pathing for Bogota added!

,Source,Bridges,Partial_Costs,Total_Cost,Target
0,Bogota,"[Goroka, Port Moresby, Goroka, Port Moresby, G...","[0.0, 755.8972047746067, 5606.6853979173375, 1...",18326.702070,Goroka
1,Bogota,"[Madang, Port Moresby, Madang, Port Moresby, M...","[0.0, 755.8972047746067, 5606.6853979173375, 1...",18398.968325,Madang
2,Bogota,"[Mount Hagen, Port Moresby, Mount Hagen, Port ...","[0.0, 755.8972047746067, 5606.6853979173375, 1...",18417.507717,Mount Hagen