___
<img style="float: right; margin: 15px 15px 15px 15px;" src="https://cdn.brandfetch.io/idjblR01Uf/w/400/h/400/theme/dark/icon.jpeg?c=1dxbfHSJFAPEGdCLU4o5B" width="200px" height="180px" />

# <font color= #5aafc1> **PROYECTO FINAL** </font>
#### <font color= #2E9AFE> `Red Aeroportuaria Internacional`</font>
- <Strong> Sofía Maldonado, Viviana Toledo, César Adrián Santos </Strong>
- <Strong> Fecha </Strong>: 17/07/2025

___

In [4]:
# Actualizar 
import importlib
import queries 
importlib.reload(queries)
from queries import DB_Queries

# Establecer conexión
db = DB_Queries()

Successfully Connected to Neo4j in neo4j database!
Successfully Connected to GraphDataScience in neo4j database!

Añadir atributos de Continente a cada nodo:

In [8]:
query1 = """MATCH (a:Airport) 
WHERE a.country = 'Burma'
SET a.country = 'Myanmar'
"""

query2 = """MATCH (a:Airport) 
WHERE a.country = 'Congo (Kinshasa)'
SET a.country = 'Democratic Republic of the Congo'
"""

query3 = """MATCH (a:Airport) 
WHERE a.country = 'Congo (Brazzaville)'
SET a.country = 'Republic of the Congo'
"""

query4 = f"""LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/ch0fas/MG_PROYECTO2/main/data/countries.csv' AS row
MATCH (a:Airport)
WHERE a.country = row.Country
SET a.continent = row.Continent
"""

db.custom_query(query4)

# <font color= #5aafc1> **1. Exploratory Data Analysis** </font>

Graph Schema:

Node Count:

In [9]:
db.count_nodes('Airport')

   Airports
0      3214

Node Attributes:

In [10]:
db.node_attributes()

     nodeType nodeLabels propertyName propertyTypes  mandatory
0  :`Airport`  [Airport]           Id        [Long]       True
1  :`Airport`  [Airport]     latitude      [Double]       True
2  :`Airport`  [Airport]      country      [String]       True
3  :`Airport`  [Airport]    longitude      [Double]       True
4  :`Airport`  [Airport]        Label      [String]       True
5  :`Airport`  [Airport]    continent      [String]       True

Relationship Count:

In [11]:
db.count_relationships('TO')

   TO_Count
0     36907

Relationship Attributes:

In [12]:
db.rel_attributes()

  relType propertyName propertyTypes  mandatory
0   :`TO`     distance      [Double]       True

# <font color= #5aafc1> **2. Centrality & Community Algorithms** </font>

In [13]:
db.create_subgraph('Airport', 'TO', 'NATURAL','distance')

Successfully created Directed Subgraph with Airport nodes and TO relationships!

In [14]:
db.create_subgraph('Airport', 'TO', 'UNDIRECTED','distance')

Successfully created Undirected Subgraph with Airport nodes and TO relationships!

# <font color= #5aafc1> **3. Path Finding Algorithms** </font>

In [15]:
db.delta_pathing('Airport', 'Label', 'Bogota', 'distance')

Directed Delta Pathing for Bogota added!

Empty DataFrame
Columns: [Source, Bridges, Partial_Costs, Total_Cost, Target]
Index: []

Undirected Delta Pathing for Bogota added!

Empty DataFrame
Columns: [Source, Bridges, Partial_Costs, Total_Cost, Target]
Index: []